
/* .our-team {
    padding: 30px ;
    margin: 40px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 250px; height: 400px;
  } */
 
  
   .picture {
    display: inline-block;
    height: 250px;
    width: 250px;
     margin-bottom: 5px; 
    z-index: 1;
    position: relative;
  }
  
  
 
  
  .our-team:hover .picture:before {
    height: 10%;
  }
  
 
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-weight: 500;
    font-size: 20px;
    color: #4e5052;
    
  }
  .liste{display: flex; justify-content: space-between;flex-wrap: wrap; margin-top: 50px; padding-top: 25px; padding-bottom: 50px;}
  